extends ../layout

block content
  div(class="d-flex flex-row content mx-auto")
    div(class="flex-fill")
      form(class="card" method="post" action= tweet._id ? "/tweets/update/" + tweet._id : "/tweets")
        div(class="card-header") Ecrire un tweet
        div(class="card-body")
          div(class="mb-3")
            textarea(class="form-control" name="content" placeholder="What is happening")= tweet.content
          if errors
            ul(class="my-2")
              each error in errors
                li(class="text-danger")= error
          div(class="w-100")
            input(type="submit" value="Send" class="btn btn-primary ms-auto d-block")